<!DOCTYPE html>
<!--
Author: Ziming Wang
Student number: 13134402
-->
<h1>Update User</h1>
<form #registerForm = "ngForm" (ngSubmit) = "Updater(UpdaterForm.value)">
  <div class="container">
      <label for="Oldpassword"><b>Old Password</b></label>
      <input type="password" placeholder="Enter Old Password" name="password" required ngModel>
      <label for="Oldpassword"><b>New Password</b></label>
      <input type="password" placeholder="Enter New Password" name="new password" required ngModel>
      <button type="submit">Update</button>
      <p *ngIf="status">{{status.status}}</p>
  </div>
</form>