<!DOCTYPE html>
<!--
Author: Luke Galic
Student number: 13564810
-->
<html>
    <head>
        <title>Login!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--</script><script  src="./script.js"></script>-->
    </head>
    <body>

        <h1>Enter Login Details</h1>

        <form>
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
                  
              <button type="submit">Login</button>

              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
          
            <div class="container" style="background-color:#f1f1f1;">
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>

    </body>
</html>
