<body>
    <div class="testbox">
      <form action="/">
        <h1>Complaint Form</h1>
        <p>Please send us details about the incident you would like to report. Our Complaint Center will analyze your complaint and take the appropriate measures in order that the reported situation will not occur at any other time in the future.</p>
        <hr/>
        <div class="item">
          <p>Date of complaint</p>
          <input type="date" name="name" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <p>Name</p>
          <input type="text" name="name" placeholder="First" />
          <input type="text" name="name" placeholder="Last" />
        </div>
        <div class="item">
          <p>Email</p>
          <input type="text" name="name"/>
        </div>
        <div class="item address">
          <p>Store Address</p>
          <div class="street">
            <input class="street-item" type="text" name="name" placeholder="Street address" />
            <input  class="street-item" type="text" name="name" placeholder="Street addres line 2" />
            <input type="text" name="name" placeholder="City" />
            <input type="text" name="name" placeholder="Region" />
            <input type="text" name="name" placeholder="Postal / zip code" />
            <select>
              <option value="">Store location</option>
              <option value="1">CBD store</option>
              <option value="2">Parramatta</option>
              <option value="3">Chatswood</option>
              <option value="4">Mascot</option>
              <option value="5">Rose bay</option>
            </select>
          </div>
        </div>
        <div class="item">
          <p>Date of the reported incident</p>
          <input type="date" name="name" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item location">
          <p>Incident location</p>
          <input type="text" name="name"/>
        </div>
        <div class="item complaint-details">
          <p>Complaint details</p>
          <div class="complaint-details-item">
            <textarea rows="5"></textarea>
          </div>
        </div>
        <div class="item desired-outcome">
          <p>Desired outcome</p>
          <div class="desired-outcome-item">
            <textarea rows="5"></textarea>
            <small>By signing you declare that all information you have entered is truthful and accurate.</small>
          </div>
        </div>
        <h4>Your signature</h4>
        <textarea rows="5"></textarea>
        <small>By signing you declare that all information you have entered is truthful and accurate.</small>
        <div class="btn-block">
          <button type="submit" href="/">Send</button>
        </div>
      </form>
    </div>
</body>
