<!DOCTYPE html>
<!--
Author: Luke Galic
Student number: 13564810
-->
<h1>Add User</h1>
<form [formGroup]="registerForm" (ngSubmit)="register()">
	<div class="container">
		<label for="id"><b>Employee ID (provided)</b></label>
		<input type="text" placeholder="Enter ID" name="eid" required  formControlName="eid">

		<label for="uname"><b>Email</b></label>
		<input type="text" placeholder="Enter Email" name="email" required formControlName="email">
	
		<label for="psw"><b>Password</b></label>
		<input type="password" placeholder="Enter Password" name="password" required formControlName="password">
		
		<label for="admin"><b>admin?</b></label>
		<input type="checkbox" formControlName="admin">
		
		<button [disabled]="!registerForm.valid" type="submit">ADD</button>
	</div>
	<p *ngIf="status">{{status.status}}</p>
</form>