<!DOCTYPE html>
<!--
Author: Anton Horlanchuk
Student number: 13571601
-->
<h1>Add Offender</h1>
<form #registerForm = "ngForm" (ngSubmit) = "createNewOffender(registerForm.value)">
  <div class="container">
      <label for="name"><b>Offender Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required  ngModel>

      <label for="offence"><b>Offence Committed</b></label>
      <input type="text" placeholder="Enter Offence Committed" name="offence" required ngModel>

      <label for="description"><b>Description Of Person</b></label>
      <input type="text" placeholder="Enter Description" name="description" required ngModel>

      <label for="location"><b>Location</b></label><br>
      <input type="text" placeholder="Enter Location" name="location" required ngModel>

      <button type="submit">ADD</button>
      <p *ngIf="status">{{status.status}}</p>
  </div>
</form>
