<!DOCTYPE html>
<!--
Author: Briana Margetts 
Student number: 140574003
-->
<html>
    <head>
        <title>Export Incidents</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--</script><script  src="./script.js"></script>-->
    </head>
    <body ng-app="exportCSV">
	<!--<div ng-controller="csvController">-->

        <table id="incidentTable" class="table">
                <tr>
                    <th>ID</th>
                    <th>Date of incident</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Store city</th>
                    <th>Store region</th>
                    <th>Store location</th>
                    <th>Store name</th>
                    <th>Date of incident</th>
                    <th>Complaint details</th>
                    <th>Desired outcome</th>
                </tr>
                <tr *ngFor="let complaint of complaints">
                    <td>{{complaint._id}}</td>
                    <td>{{complaint.dateOfComp}}</td>
                    <td>{{complaint.fName}} {{complaint.lName}}</td>
                    <td>{{complaint.email}}</td>
                    <td>{{complaint.city}}</td>
                    <td>{{complaint.region}}</td>
                    <td>{{complaint.sAddress}}</td>
                    <td>{{complaint.name}}</td>
                    <td>{{complaint.date}}</td>
                    <td>{{complaint.compDetails}}</td>
                    <td>{{complaint.desiredOutcome}}</td>
                </tr>
        </table>
        <button class="exportBtn" export-to-csv>Export CSV</button>
    </body>

</html>
