<!DOCTYPE html>
<!--
Author: Briana Margetts 
Student number: 140574003
-->
<html>
    <head>
        <title>Export Incidents</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--</script><script  src="./script.js"></script>-->
    </head>
    <body ng-app="exportCSV">
	<!--<div ng-controller="csvController">-->

        <table id="incidentTable" class="table">
                <tr>
                    <th>ID</th>
                    <th>Date of incident</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Store city</th>
                    <th>Store region</th>
                    <th>Store location</th>
                    <th>Store name</th>
                    <th>Date of incident</th>
                    <th>Complaint details</th>
                    <th>Desired outcome</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                <tr *ngFor="let complaint of complaints">
                    <td>{{complaint._id}}</td>
                    <td>{{complaint.dateOfComp}}</td>
                    <td>{{complaint.fName}} {{complaint.lName}}</td>
                    <td>{{complaint.email}}</td>
                    <td>{{complaint.city}}</td>
                    <td>{{complaint.region}}</td>
                    <td>{{complaint.sAddress}}</td>
                    <td>{{complaint.name}}</td>
                    <td>{{complaint.date}}</td>
                    <td>{{complaint.compDetails}}</td>
                    <td>{{complaint.desiredOutcome}}</td>
                    <td><img width="25px" height="25px" src="assets/images/edit.png" alt="edit" (click)="updateForm(complaint._id)"></td>
                    <td><img width="25px" height="25px" src="assets/images/bin.png" alt="delete" (click)="deleteIncident(complaint._id)"></td>
                </tr>
        </table>
        <button class="exportBtn" export-to-csv>Export CSV</button>

        <!-- UPDATE REPORT POP UP WINDOW-->
        <div  [ngStyle]="{'display': displayPopUp}" id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span (click)="closeUpdateForm()" class="close">&times;</span>
              <div class="testbox">
                <form #reportForm = "ngForm" (ngSubmit) = "updateIncident(reportForm.value)">
                  
                  <h1>Update complaint form</h1>
                  <hr/>
          
                  <div class="item">
                    <p>Date of complaint</p>
                    <input  *ngIf="complaint" type="date" name="dateOfComp" value="{{complaint.dateOfComp}}" required>
                    <i class="fas fa-calendar-alt"></i>
                  </div>
          
                  <div class="item">
                    <p>Name</p>
                    <input type="text" name="fName" placeholder="First" *ngIf="complaint" value="{{complaint.fName}}" ngModel>
                    <input type="text" name="lName" placeholder="Last" *ngIf="complaint" value="{{complaint.lName}}" ngModel>
                  </div>
          
                  <div class="item">
                    <p>Email</p>
                    <input type="text" name="email" *ngIf="complaint" value="{{complaint.email}}" ngModel>
                  </div>
          
                  <div class="item address">
                    <p>Store Address</p>
                    <div class="street">
                      <input class="street-item" type="text" name="sAddress" placeholder="Street address" *ngIf="complaint"  value="{{complaint.sAddress}}" ngModel>
                      <input  class="street-item" type="text" name="sAddress2" placeholder="Street addres line 2" *ngIf="complaint"  value="{{complaint.sAddress2}}" ngModel>
                      <input type="text" name="city" placeholder="City" *ngIf="complaint"  value="{{complaint.city}}" ngModel>
                      <input type="text" name="region" placeholder="Region" *ngIf="complaint"  value="{{complaint.region}}" ngModel>
                      <input type="text" name="pCode" placeholder="Postal / zip code" *ngIf="complaint"  value="{{complaint.pCode}}" ngModel>
                      
                      <select name="sLocation" *ngIf="complaint"  value="{{complaint.sLocation}}" ngModel>
                        <option value="">Store location</option>
                        <option value="CBD Store">CBD store</option>
                        <option value="Parramatta">Parramatta</option>
                        <option value="Chatswood">Chatswood</option>
                        <option value="Mascot">Mascot</option>
                        <option value="Rose Bay">Rose bay</option>
                      </select>
                    </div>
                  </div>
          
                  <div class="item">
                    <p>Date of the reported incident</p>
                    <input type="date" name="date" *ngIf="complaint"  value="{{complaint.date}}" required ngModel>
                    <i class="fas fa-calendar-alt"></i>
                  </div>
          
                  <div class="item location">
                    <p>Incident location</p>
                    <input type="incLocation" name="name" *ngIf="complaint"  value="{{complaint.name}}" ngModel>
                  </div>
          
                  <div class="item complaint-details">
                    <p>Complaint details</p>
                    <div class="complaint-details-item">
                      <textarea name="compDetails" rows="5" *ngIf="complaint"  value="{{complaint.compDetails}}" ngModel></textarea>
                    </div>
                  </div>
          
                  <div class="item desired-outcome">
                    <p>Desired outcome</p>
          
                    <div class="desired-outcome-item">
                      <textarea name="desiredOutcome" rows="5" *ngIf="complaint"  value="{{complaint.desiredOutcome}}" ngModel></textarea>
                      <small>By signing you declare that all information you have entered is truthful and accurate.</small>
                    </div>
                  </div>

                  <div class="btn-block">
                    <button type="submit">Send</button>
                  </div>
                  
                </form>
              </div>
            </div>
          
          </div>

        <p class="statusMessage" *ngIf="status">{{status.status}}</p>
    </body>

</html>
