<!DOCTYPE html>
<!--
Author: Briana Margetts
Student number: 140574003
-->

<body ng-app="exportCSV">
  <table id="incidentTable" class="table">
    <tr>
      <th>ID</th>
      <th>Date of incident</th>
      <th>Name</th>
      <th>Email</th>
      <th>Store location</th>
      <th>Store name</th>
      <th>Date of incident</th>
      <th>incident location</th>
      <th>Complaint details</th>
      <th>Desired outcome</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
    <tr *ngFor="let complaint of complaints">
        <td>{{complaint._id}}</td>
        <td>{{complaint.dateOfComp}}</td>
        <td>{{complaint.fName}} {{complaint.lName}}</td>
        <td>{{complaint.email}}</td>
        <td>{{complaint.centreLocation}}</td>
        <td>{{complaint.storeLocation}}</td>
        <td>{{complaint.incidentDate}}</td>
        <td>{{complaint.incidentLocation}}</td>
        <td>{{complaint.compDetails}}</td>
        <td>{{complaint.desiredOutcome}}</td>
        <td><img width="25px" height="25px" src="assets/images/edit.png" alt="edit" (click)="updateForm(complaint._id)"></td>
        <td><img width="25px" height="25px" src="assets/images/bin.png" alt="delete" (click)="deleteIncident(complaint._id)"></td>
    </tr>
  </table>
  <button class="exportBtn" type="button" (click)="exportComplaints()" >Export CSV</button>


  <!-- UPDATE REPORT POP UP WINDOW-->
  <div  [ngStyle]="{'display': displayPopUp}" id="myModal" class="modal">
    <!-- Modal content -->
      <div class="modal-content">
        <span (click)="closeUpdateForm()" class="close">&times;</span>
        <div class="testbox">
          <form [formGroup]="reportForm" (ngSubmit)="updateIncident()">

            <h1>Update complaint form</h1>
            <hr/>

            <div class="item">
              <p>Date of complaint</p>
              <input type="date" name="dateOfComp" required formControlName="dateOfComp">
              <i class="fas fa-calendar-alt"></i>
            </div>

            <div class="item">
              <p>Name</p>
              <input type="text" name="fName" placeholder="First" formControlName="fName">
              <input type="text" name="lName" placeholder="Last" formControlName="lName">
            </div>

            <div class="item">
              <p>Email</p>
              <input type="text" name="email" formControlName="email">
            </div>

            <div class="item address">
              <p>Store Address</p>
              <div class="street">
                <input class="street-item" type="text" name="sAddress" placeholder="Street address" formControlName="sAddress">
                <input  class="street-item" type="text" name="sAddress2" placeholder="Street addres line 2" formControlName="sAddress2">
                <input type="text" name="city" placeholder="City" formControlName="city">
                <input type="text" name="region" placeholder="Region" formControlName="region">
                <input type="text" name="pCode" placeholder="Postal / zip code" formControlName="pCode">

                <select name="sLocation" formControlName="sLocation">
                  <option value="">Store location</option>
                  <option value="CBD Store">CBD store</option>
                  <option value="Parramatta">Parramatta</option>
                  <option value="Chatswood">Chatswood</option>
                  <option value="Mascot">Mascot</option>
                  <option value="Rose Bay">Rose bay</option>
                </select>
              </div>
            </div>

            <div class="item">
              <p>Date of the reported incident</p>
              <input type="date" name="date" required formControlName="date">
              <i class="fas fa-calendar-alt"></i>
            </div>

            <div class="item location">
              <p>Incident location</p>
              <input type="name" name="name" formControlName="name">
            </div>

            <div class="item complaint-details">
              <p>Complaint details</p>
              <div class="complaint-details-item">
                <textarea name="compDetails" rows="5" formControlName="compDetails"></textarea>
              </div>
            </div>

            <div class="item desired-outcome">
              <p>Desired outcome</p>

              <div class="desired-outcome-item">
                <textarea name="desiredOutcome" rows="5" formControlName="desiredOutcome"></textarea>
                <small>By signing you declare that all information you have entered is truthful and accurate.</small>
              </div>
            </div>

            <div class="btn-block">
              <button type="submit">Send</button>
            </div>
            <p class="statusMessage" *ngIf="status">{{status.status}}</p>

          </form>
        </div>
      </div>
  </div>

  <p class="statusMessage" *ngIf="status">{{status.status}}</p>
</body>
