#userTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-top: 100px;
    margin: auto;
  }
  
  #userTable td, #userTable th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  .exportBtn{
    margin: auto;
    display: block;
    margin-top: 15px;
  }
  
  #userTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #userTable tr:hover {background-color: #ddd;}
  
  #userTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
  }

  .statusMessage {
    font-size: 25px;
    text-align: center;
    color: red;

  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.displayPopUp {
  display: block !important;
}

/*=============== FORM CSS ====================*/

html, body {
  min-height: 100%;
}
  body, div, form, input, select, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: rgb(34, 34, 34);
  line-height: 22px;
  }
  h1 {
  margin: 15px 0;
  font-weight: 400;
  }
  h4 {
  margin-bottom: 4px;
  }
  .testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 3px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
  }
  form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc; 
  }
  input, select, textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  }
  input {
  width: calc(100% - 10px);
  padding: 5px;
  }
  input:hover, textarea:hover, select:hover {
  outline: none;
  border: 1px solid #095484;
  }
  select {
  padding: 7px 0;
  background: transparent;
  }
  textarea {
  margin-bottom: 3px;
  }
  .item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  }
  input[type="date"]::-webkit-inner-spin-button {
  display: none;
  }
  .item i, input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #0e0e0e;
  }
  .item i {
  left: 94%;
  top: 30px;
 z-index: 1;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
  left: 93%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  }
  .street, .desired-outcome-item, .complaint-details-item {
  display: flex;
  flex-wrap: wrap;
  }
  .street input {
  margin-bottom: 10px;
  }
  small {
  display: block;
  line-height: 16px;
  opacity: 0.7;
  }
  .btn-block {
  margin-top: 20px;
  text-align: center;
  }
  button {
  width: 150px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  }
  button:hover {
  background-color: #0666a3;
  }
  @media (min-width: 568px) {
  input {
  width: calc(35% - 20px);
  margin: 0 0 0 9px;
  }
  select {
  width: calc(50% - 8px);
  margin: 0 0 10px 9px;
  }
  .item {
  flex-direction: row;
  align-items: center;
  }
  .item p {
  width: 30%;
  }
  .item i {
  left: 61%;
  top: 25%;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
  left: 60%;
  }
  .street, .desired-outcome-item, .complaint-details-item {
  width: 70%;
  }
  .street input {
  width: calc(50% - 20px);
  }
  .street .street-item {
  width: 100%;
  }
  .address p, .desired-outcome p, .complaint-details p {
  align-self: flex-start;
  margin-top: 6px;
  }
  .desired-outcome-item, .complaint-details-item {
  margin-left: 12px;
  }
  textarea {
  width: calc(100% - 6px);
  }
  }
/* ==============FORM CSS END =============*/